
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
.logo{
    font-family: "Ribeye Marrow", serif;
    font-weight: bolder;
    font-style:normal;
    font-size: 40px;
}